html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    text-align: center;

}

.hero-image {
    background-image: url("./images/torshov.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top 30% center;
    padding: 200px 0;
}

.hero-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.hero-title {
    color: white;
    background-color: #1D3557;
    padding: 5px 10px;
    border-radius: 10px;
    margin: 15px;
}

.hero-text {
    background-color: #457b9d;
    color: white;
    padding: 5px 20px;
    border-radius: 10px;
    margin: 0;
}