html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    text-align: center;
    margin: 0;
}

.hero-image {
    background-image: url("./images/torshov.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top 35% center;
    padding: 225px 0;
}

.hero-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.hero-title {
    color: white;
    background-color: #1D3557;
    padding: 5px 10px;
    border-radius: 10px;
    margin: 15px;
}

.hero-text {
    background-color: #457b9d;
    color: white;
    padding: 5px 20px;
    border-radius: 10px;
}

.activities {
    display: block;
    background-color: #f1faee;
    color: #1D3557;
    padding: 40px 0 50px 0;
    
}

img {
    width: 100px;
    border-radius: 50%;
}

.activities-container {
    display: flex;
    justify-content: center;
    margin-top: 45px;
}

.sports-container,
.theatre-container,
.park-container {
    padding: 40px;
    outline: 2px solid black;
}